<%- include('layouts/header.ejs')%>

<h1>forgot password</h1>

<% if (error_msg) { %>
  <div class="alert alert-danger"><%= error_msg %></div>
<% } %>
<% if (success_msg) { %>
  <div class="alert alert-success"><%= success_msg %></div>
<% } %>
<form action="/users/forgot" method="POST">

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <button type="submit">Forgot Password</button>
  </div>
</form>
<%- include('layouts/footer.ejs')%>