<%- include('layouts/header.ejs')%>

<h1>resetpassword</h1>

<% if (error_msg) { %>
  <div class="alert alert-danger"><%= error_msg %></div>
<% } %>
<% if (success_msg) { %>
  <div class="alert alert-success"><%= success_msg %></div>
<% } %>
<form action="/users/reset" method="POST">

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
  </div>
  <div>
    <button type="submit">Reset Password</button>
  </div>

  <div>
    <a href="/users/forgot">Forgot Password?</a>
  </div>
  <!-- <div>
    <a href="/auth/google">Sign In with Google</a>
  </div> -->
</form>

<%- include('layouts/footer.ejs')%>